

html{
    background-color: rgb(235, 229, 221);
    
}

body{
    margin: 0px;
}



.head {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
}

main article{
    justify-content:space-between;
    display: flex;
    margin-right: 200px;
    padding-right: 20px;
    flex-flow: row wrap;
}

.main{

    margin-bottom: 1px;
    margin-top: 0px;

}

section p{

    font-size: 15px;
    width: 400px;
    margin-left: 50px;
}

article section img{
    width: 80%;
    height: auto;
    margin-left: 50px;

}


.italic{
    font-style: italic;
}
.red{
    color: red;
}
.last{
    text-decoration: underline;
}

li{
    font-size: 14px;
}


h1{
    padding-left: 13px;
    font-weight: 700;
    font-size: 50px;
    text-decoration: underline;
}

main object{
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 50px;
}

.ingredients p {
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}

.ingredients li {
    list-style-type: none;
    font-size: 17px;
    padding-right: 20px;
}

.oil::before{
    content: "🧴  ";
}

.chicken::before {
    content: "🍗  ";
}

.garlic::before {
    content: "🧄  ";
}

.soysauce::before {
    content: "🍾  ";
}

.vinegar::before {
    content: "🍾  ";
}

.gpowder::before {
    content: "🧄  ";
}

.pepper::before {
    content: "🥫  ";
}

.leaf::before {
    content: "🍂  ";
}

.howto{
    margin-left: 30px;
}
#preperation li{
    list-style-type: upper-roman;
    margin-left: 30px;
    padding: 2px;
    padding-right: 20px;
    text-align: left;
}

#lowerComment {
    font-size: 14px;
    margin-left: 50px;
    padding: 2px;
    padding-right: 20px;

}

.links p{
    margin-left: 30px;
    padding: 2px;
}

.links > ul > li{
    list-style-type: none;
    padding-bottom: 5px;
    margin-left: 50px;
    padding: 2px;;
}

footer{
    background-color: rgb(52, 83, 73);
    display: flex;
    width: auto;
    height: 35px;
    padding: auto;
    margin: 0px;
}

footer p{
    font-size: 10px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;

}
.pirple{
    width: 25px;
    height: 25px;
    padding: 5px;



}
