

html{
    background-color: rgb(245, 235, 221);
}

p{
    font-size: 20px;
}
.italic{
    font-style: italic;
}
.red{
    color: red;
}
.last{
    text-decoration: underline;
}

li{
    font-size: 14px;
}

#lowerComment{
font-size: 14px;
}

h1{
    padding-left: 13px;
    font-weight: 700;
    font-size: 50px;
    text-decoration: underline;
}

.images{
    margin-bottom: 3px;
    margin-top: 20px;
    list-style-type: none;


}

.ingredients > li {
    list-style-type: none;
}

.oil::before{
    content: "🧴  ";
}

.chicken::before {
    content: "🍗  ";
}

.garlic::before {
    content: "🧄  ";
}

.soysauce::before {
    content: "🍾  ";
}

.vinegar::before {
    content: "🍾  ";
}

.gpowder::before {
    content: "🧄  ";
}

.pepper::before {
    content: "🥫  ";
}

.leaf::before {
    content: "🍂  ";
}

.preperation li{
    list-style-type: upper-roman;
}

footer > ul > li{
    list-style-type: none;
}
